body {
  background: #013E5F;
}

#chart {
  margin-top: 20px;
}

.dashboard-container {
  background:  #3fb58e;
  padding: 20px 0 40px;
}

.current-numbers {
  color: #FFF;
}

.current-numbers a {
  color: #FFF;
  opacity: 1;
}

.current-numbers p a {
  text-decoration: underline;
}

.definition {
  opacity: 0.6;
}

.key-box p {
  display: inline;
  float: right;
  margin: 0 0 0 40px;
  color: #FFF;
  font-size: 12px;
  line-height: 20px;
}

.key {
  display: inline;
  float: left;
  width: 7px;
  height: 7px;
  background: #FFF;
  margin: 7px 7px 0 0;
}

.key.contributors-active {
  border-radius: 10px;
}

.key.contributors-active.projection {
  background: #ffcd36;
}

.key.contributors-new {
  background: #ffcd36;
  width: 8px;
  height: 12px;
  margin-top: 4px;
}

.wm-footer {
    padding: 40px 0px;
    background-color: #013E5F;
    color: #FFF;
}

footer h4 span {
  color: #26ABF3;
}
footer h4 {
  color: #028ED9;
  margin-bottom: 5px;
}

footer h5,
footer p {
  color: #02669D;
  margin-top: 5px;
}


footer hr {
  border-color: #02669D;
}

@media (min-width: 768px) {
  /*.container {
    width: 750px;
  }*/
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (max-width: 768px) {
  footer h4 {
    margin-top: 20px;
  }

  .key-box {
    margin: 20px 0 30px;
  }

  .key-box p {
    display: inline;
    float: left;
    padding: 0;
    margin: 0 5px 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .total {
    display: inline;
    float: left;
    width: 40%;
  }

  #active-total,
  .total h4 {
    margin: 0;
  }

  .key-box {
    display: inline;
    float: right;
    width: 40%;
    padding-top: 10px;
  }

  #graph-container {
    display: inline;
    float: left;
    margin-top: 25px;
  }
}

/* Styling for D3 SVG Graph */

svg {
  background:  #3fb58e;
}

.axis path {
  fill: none;
  stroke: #68CAA9;
  shape-rendering: crispEdges;
}
.axis {
  font-size: 12pt;
  font-family: Open Sans;
  font-weight: normal;
}

.axis line {
  fill: none;
  stroke: #68CAA9;
  shape-rendering: crispEdges;
}

.tick {
  fill: none;
}
.tick text {
  fill: #FFF;
  stroke: none;
}
.axis.new .tick text {
  fill: #FFCD36;
}

circle {
  stroke: none;
  fill: #fff;
}

circle.projection {
  fill: #FFCD36;
  stroke: #3fb58e;
  stroke-width: 2px;
}

.line.active-contributors {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.line.active-contributors.projection {
  stroke: #FFCD36;
  stroke-width: 1.8px;
}

.line.active-contributors.trend {
  stroke: #fff;
  opacity: 0.2;
}

.line.active-contributors.trend.recent {
  stroke: #fff;
  opacity: 0.5;
  stroke-width: 1.5px;
}

.text.trend {
  fill: #FFF;
  stroke: none;
  font-size: 11px;
}

rect.new-contributors {
  fill: #ffcd36;
}

rect.hide {
  display: none;
}

line.target {
    fill: none;
    stroke: #68CAA9;
    opacity: 0.8;
}

line.target.goal {
    fill: none;
    stroke: #FFCD36;
    stroke-width: 2px;
}

body rect {
  color: #F00;
}

rect.info-area {
  opacity: 0;
  fill: #FFF;
  position: relative;
}

.d3-tip {
  line-height: 1.2;
  font-weight: normal;
  font-size: 10px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #CCC;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
